
MyProject/Saved/*
MyProject/Intermediate/*
MyProject/Build/*
MyProject/Content/InfinityBladeGrassLands/*
MyProject/Content/KiteDemo/*
MyProject/Content/InfinityBladeEffects/*
MyProject/Content/TopDownExampleMap_BuiltData.uasset
